body {
    font-family: sans-serif;
    
    
    background-color: aquamarine;
    margin-top: 75px;
    color: crimson;
}

.center {
    text-align: center;
}

.centertext {
    font-size: 400%;
    color: crimson;
    font-weight:800;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.con {
          max-width: 800px;
          margin: 0 auto;
          color: grey; 
          font-family: sans-serif;
          
}
         
